*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#replay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.842);
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#replay button{
    width: 100px;
    height: 100px;
    color: white;
    font-size: 40px;
    background-color: transparent;
    border: 1px solid white;
}

#replay button:active{
    background-color: rgba(255, 255, 255, 0.644);
    border: 1px solid black;
    color: black;
}

#replay button:hover{
    background-color: rgba(255, 255, 255, 0.644);
    border: 1px solid black;
    color: black;
}

#replay h1{
    font-size: 50px;
    color: white;
}

.playground{
    width: 70%;
    height: 75vh;
    border: 10px solid black;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(25, 1fr);
}

.desc{
    width: 70%;
    display: flex;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
}

.Score, .Time{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.playground div{
    width: 100%;
    height: 100%;
}

.red_pixel{
    background-color: red;
}

.player{
    background-color: black;
}